<a href="https://colab.research.google.com/github/davideke1/Project_Python_2/blob/master/sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3 as sql

In [ ]:
c = sql.connect("student.db")
cur = c.cursor()

In [ ]:
cur.execute("""
              create table student (
                roll_no integer primary key AUTOINCREMENT,
                 name text not null,
                  branch text not null,
                  mobile_no int not null,
                  sets integer not null,
                  gender text not null,
                  cgpa real not null);""")

In [ ]:
c.execute("insert into student values(7,'e','fff',8,'f',90223322,4.5)")

In [ ]:
x = c.execute("select * from student")
for i in x:
  print(i)

(1, 'kiran', 'e', 90223322, 8, 'f', 4.5)
(2, 'kiran', 'e', 90223322, 8, 'f', 4.5)
(3, 'fff', 'e', 90223322, 8, 'f', 4.5)
(4, 'fff', 'e', 90223322, 8, 'f', 4.5)
(7, 'e', 'fff', 8, 'f', '90223322', 4.5)

In [ ]:
# reading multiples columns
multiple_lines = [
                  ("david",'ece',+9187639288787,8,'f', 9.8),
                  ("vivin",'ece',+9187639288787,8,'f', 9.8),
                  ("viada",'ece',+9187639288322,8,'f', 9.7),
                  ("vibian",'ece',+9187639288765,8,'f',9.7),
                  ("samosa",'ece',+9187639288194,8,'f',8.6),
                  ("goliath",'ece',+9187639288123,8,'f',6.7),
                  ("daniel",'ece',+9187639288165,8,'f',8.5),
                  ("samuel",'ece',+9187639288723,8,'f',6.3),
                  ("peter",'ece',+9187639288678,8,'f',6.5),
                  ("gave",'ece',+9187639288787,8,'f', 5.5),
                  ("messi",'ece',+9187639288787,8,'f', 8.0),
                  ("benema",'ece',+9187639288787,8,'f', 3.8),
                  ("salah",'ece',+9187639288787,8,'f', 5.8),
                  ("mane",'ece',+9187639288787,8,'f', 7.8),
                  ("james",'ece',+9187639288787,8,'f', 6.8),
                  ("ardone",'ece',+9187639288787,8,'f', 9.8),
                  ("richard",'ece',+9187639288787,8,'f', 7.8),
                  ("henry",'ece',+9187639288787,8,'f', 8.8),
                  ("royal",'ece',+9187639288787,8,'f', 6.8),
]

In [ ]:
c.executemany("insert into student(name,branch, mobile_no,sets,gender,cgpa) values(?,?,?,?,?,?)", multiple_lines)

In [ ]:
x = c.execute("select * from student;")
for i in x:
  print(i)

(1, 'david', 'ece', 9187639288787, 8, 'f', 9.8)
(2, 'vivin', 'ece', 9187639288787, 8, 'f', 9.8)
(3, 'viada', 'ece', 9187639288322, 8, 'f', 9.7)
(4, 'vibian', 'ece', 9187639288765, 8, 'f', 9.7)
(5, 'samosa', 'ece', 9187639288194, 8, 'f', 8.6)
(6, 'goliath', 'ece', 9187639288123, 8, 'f', 6.7)
(7, 'daniel', 'ece', 9187639288165, 8, 'f', 8.5)
(8, 'samuel', 'ece', 9187639288723, 8, 'f', 6.3)
(9, 'peter', 'ece', 9187639288678, 8, 'f', 6.5)
(10, 'gave', 'ece', 9187639288787, 8, 'f', 5.5)
(11, 'messi', 'ece', 9187639288787, 8, 'f', 8.0)
(12, 'benema', 'ece', 9187639288787, 8, 'f', 3.8)
(13, 'salah', 'ece', 9187639288787, 8, 'f', 5.8)
(14, 'mane', 'ece', 9187639288787, 8, 'f', 7.8)
(15, 'james', 'ece', 9187639288787, 8, 'f', 6.8)
(16, 'ardone', 'ece', 9187639288787, 8, 'f', 9.8)
(17, 'richard', 'ece', 9187639288787, 8, 'f', 7.8)
(18, 'henry', 'ece', 9187639288787, 8, 'f', 8.8)
(19, 'royal', 'ece', 9187639288787, 8, 'f', 6.8)

https://www.askpython.com/python/examples/insert-multiple-records-sqlite3

In [ ]:
#using clauses
x = c.execute("select name from student where cgpa >8.0;")
for i in x:
  print(i)

('david',)
('vivin',)
('viada',)
('vibian',)
('samosa',)
('daniel',)
('ardone',)
('henry',)

In [ ]:
x = c.execute("select name from student where cgpa >=6.0 and cgpa <= 9.0")
for i in x:
  print(i)

('samosa',)
('goliath',)
('daniel',)
('samuel',)
('peter',)
('messi',)
('mane',)
('james',)
('richard',)
('henry',)
('royal',)

In [ ]:
x = c.execute("select name from student where cgpa between 9.0 and 10.0")
for i in x:
  print(i)

('david',)
('vivin',)
('viada',)
('vibian',)
('ardone',)

In [ ]:
x = c.execute("select name from student where cgpa in (9.8,9.7,9.6)")
for i in x:
  print(i)

('david',)
('vivin',)
('viada',)
('vibian',)
('ardone',)

In [ ]:
x = c.execute("select name from student groupby cgpa")
for i in x:
  print(i)

OperationalError: ignored

In [ ]:
# working with foreign keys
c.execute("""
create table hostel(
  id integer ,
  foreign key( id) references student(roll_no)
);""")

In [ ]:
c.commit()

In [ ]:
c.close()